.container--pedido {
    z-index: 1;
    background: rgba(28, 28, 28, 0.9);
    overflow-y: scroll;
}

.mostrar {
    z-index: 2;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.contador {
    z-index: 3;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
}

.enviar {
    z-index: 3;
    position: fixed;
    bottom: 1rem;
    left: 1rem; 
}

.eliminar {
    cursor: pointer;
}

.display-none {
    display: none;
}